html body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    cursor: crosshair;
    overflow-y: scroll !important;
}

main {
    margin: 25px;
}

main img {
    max-width: 100%;
    margin-bottom: 25px;
}

#logo {
    margin: 20px 25px 0px;
    z-index: 1000;
}

nav {
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    z-index: 100;
}

nav ul {
    margin: 0;
    padding-left: 4px;
    right: 30px;
    top: 15px;
    position: fixed;
    list-style: none;
}

nav ul li {
    font-size: 10pt;
    display: inline-block;
    letter-spacing: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: grey;
}

.title {
    position: absolute;
    margin-top: -90px;
    margin-left: 30px;
}

.line {
    margin-left: 25px;
    margin-bottom: 4px;
    margin-right: 10px;
    width: 25px;
    height: 1px;
    background-color: white;
    display: inline-block;
}

h2 {
    color: white;
    display: inline-block;
    font-size: 9pt;
    letter-spacing: 5px;
    font-weight: 300;
}

h3 {
    color: white;
    float: right;
    display: inline-block;
    font-size: 9pt;
    letter-spacing: 5px;
    font-weight: 300;
}

h4 {
    font-weight: 300;
}

.section {
    margin-bottom: 25px;
}

.section img {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

footer ul a {
    color: black;
    text-decoration: none;
}

footer ul {
    list-style: none;
    margin: 50px 30px;
    padding: 0;
}

footer ul li {
    font-size: 10pt;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    display: inline;
}

footer ul li:nth-child(2){
    float: right;
}

.push {
    margin-bottom: 150px;
}

h2,h3 {
    color: black;
}

/* About Pages */

.row.rise {
    margin-top: -200px;
}


/* Tablet Styles */

@media only screen and (min-width: 800px){


main {
    margin: 25px;
    padding: 0;
}

main img {
    padding: 0;
    margin: 0;
}

a:hover {
    transition: opacity .3s ease-in-out;
    opacity: .75;
}

nav {
    position: relative;
    height: 75px;
}

nav ul {
    color: #4F4F4F;
    top: 35px;
}

#logo {
    position: fixed;
    z-index: 1000;
    margin: 40px 0px 0px 40px;
}

.rise {
    margin-top: -200px;
}

.push {
    margin-bottom: 80px;
}

.title {
    position: relative;
    margin: 0;
}

.line {
    background-color: #4F4F4F;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

h4 {
    color: black;
    font-size: 9pt;
    letter-spacing: 5px;
    margin-top: 50px;
}

footer {
    height: 50px;
}

}

@media (max-width: 800px) {
  .row {
    margin: 80px 0;
  }
  .push {
      margin-bottom: 150px;
  }
}

.proj-title {
    position: fixed;
    bottom: 25%;
    width: 100%;
}

.proj-name, .proj-num {
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: none;
}

.proj-name {
    margin-right: 25px;
}

.proj-line {
    margin-right: 45px;
    height: 1px;
    margin-top: 10px;
    background-color: #4F4F4F;
}

/* Desktop Styles */

@media only screen and (min-width: 64em){
  .push {
      margin-bottom: 150px;
  }

main {
    margin: 0;
    padding: 0;
}

h4 {
    font-size:10pt;
    letter-spacing: 5px;
}

nav {
    position: fixed;
    background-color: RGBA(255,255,255,0);
}

nav ul {
    right: 40px;
}

.title {
    width: 100%;
}



/* Project Pages */

.proj-gallery {
    width: 28%;
}

.clip {
    overflow: hidden;
    width: 50px;
    height: 20px;
}


}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #FaFaFa;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: none;
    background: #dadada;
}
